{% extends 'base.html' %}

{% block title %}
菜品详情页
{% endblock %}
{% block head %}
    <style>
    h4{font-size:16px;
    border-left:4px solid #f34552;padding-left:20px;}

    ul.wrapper{
        list-style: none;
        overflow: hidden;
        padding: 20px;
    }
    .wrapper li{
        float:left;
        margin:0 10px 10px 0;
        width:20%;
    }
    img{
        width:100px;
        display:block;
        margin:20px;
    }
    p{
        color:#666;
        font-size:14px;
        line-height:24px;
    }
    .price{
        color:#f52;
        font-size:18px;
        font-weight:bold;
    }
    .item{margin:10px 0;}
    .des,.add{
        font-size:18px;
        color:#333;
        cursor:pointer;
        display:inline-block;
        margin:0 5px;
        width:20px;
        height:20px;
        border-radius:50%;
        background: #f52;
        text-align: center;
        line-height: 20px;
        color: #fff;
        vertical-align:middle !important;
    }
    .item input{display:inline-block;width:60px;margin:0 15px;}
    .item textarea{ display:inline-block; resize:no;height:60px;width:240px;}
    .item span{display: inline-block;
    vertical-align: top;}
    .btn-primary{
        background-color:#f52 !important ;
        border-color:#f52 !important;
    }
    .info{
        font-size:12px;
        color:#999;
        margin-bottom:20px;
    }
    </style>
{% endblock %}
{% block main %}
    <h4>订单信息</h4>
    <p>商品名称：小李烧烤金针菇</p>
    <img src="{{ url_for('static',filename='imgs/logo.jpeg') }}" alt="" class="cai">
    <p>单价：<span class="price">￥<span class="big">5.00</span></span></p>
    <div class="item">数量：3</div>
    <div class="item">口味：<span class="btn btn-primary">微辣</span></div>
    <div class="item"><span>备注：</span>放点香菜，辣椒不要太多</div>
    <div class="item">收货地址：天津市西青区*****  <span class="btn btn-text">更换地址</span> </div>
    <div class="item">
    付款方式：
     <span class="btn btn-default"> 支付宝</span>
     <span class="btn btn-default">微信</span>

     <span class="btn btn-default"> 现金</span>
    </div>
    <p class="info">温馨提示:确认支付后，申请退货需要与商家商定，如果非商家原因，可能不能完成退款，（因为微信和支付宝需要申请开通商户，暂时不予实现）</p>
    <div class="item">应付款：<span class="price">￥<span class="big">15.00</span></span></div>
    <div class="item">
    <div class="btn btn-default">取消</div>

    <div class="btn btn-primary">支付</div>
    </div>
    <script>
    $(function(){
        $('.des').click(function(){
            var value = $('#num').val();
            if(value<=1){
                return false;
            }
            $('#num').val(Number(value)-1);
        })
        $('.add').click(function(){
            var value = $('#num').val();
            $('#num').val(Number(value)+1);
        })
        $('.item .btn').click(function(){
            $(this).addClass('btn-primary')
                $(this).siblings().removeClass('btn-primary')
        })

    })
    </script>
{% endblock %}